<div class="chat-persona">
    <div class="name-user">
        <h5><%= userName %> </h5>
    </div>
    <ul class="user-on">
        <% users.forEach(user=>{%>
            <a href="/chat/<%= user.name %>">
                <li class="user-content" data-<%= user.name %> >
                    <div class="user-img-chat"> 
                        <div>
                            <img src="/img/user.png" alt="">
                        </div>
                    </div>
                    <div class="user-status">
                        <span><%= user.name %></span>
                        <span class="status"><i class="fa fa-circle offline" aria-hidden="true"></i> offline</span>
                    </div>
                    <div class="news">
                        <span></span>
                    </div>
                </li>
            </a>
        <%}) %>
    </ul>
</div>

